
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Base !</title>
</head>
<body id="corpo">

    
    <section>
        <img src="{% static 'img/django.png' %}" width="200px" alt="200px">
        {% block content %}
        {% endblock %}
    </section>

    <script src="{% static 'js/script.js' %}"></script>

</body>
<footer>
    <p>&copy;Rodapé</p>
</footer>
</html>
